@font-face {
	font-family: Oxford;
	src: url('../fonts/oxford/oxford.ttf');
}
@font-face {
	font-family: Open-Sans;
	src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}



$text-bold:  #505861;
$text-light: #c2c3c8;
$bg-accent:  #e85f3d;
$bg-border:  #d8d9dc;
$bg-light:   #fafafc;



html, body {font-family: "Open-Sans", Arial, Helvetica, sans-serif;}
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
}



header {
	width: 100%;
	padding: 10px 0 5px 0;
	background-color: #333;
	overflow: auto;

	div.header-inner {
		margin: 0 auto;
		width: calc(100% - 60px);

		h1.title {
			float: left;
			font-family: Oxford;
			font-size: 26px;
			color: $text-light;
		}
		i {
			float: right;
			font-size: 20px;
			color: darken($text-light, 10%);
			cursor: pointer;
		}
		i:hover {
			opacity: 0.8;
		}
	}
}



section.main {
	float: left;
	width: calc(100% - 420px - 1px);

	main {
		position: relative;
		background-color: #fff;
	}
}



section.drawer {
	position: relative;
	float: right;
	width: 420px;
	background-color: $bg-light;
	border-left: 1px solid $bg-border;

	div.drawer-contents {
		display: block;
		width: calc(100% - 20px);
		padding: 10px;

		h4.section-title {
			margin-bottom: 3px;
			font-size: 12px;
			color: $text-bold;
		}
		div.selected-portfolio, div.selected-method {
			position: relative;
			display: inline-block;
			width: calc(50% - 20px);
			vertical-align: top;

			input {
				padding: 5px 5px;
				width: calc(100% - 20px);
				background-color: #fff;
				border: 1px solid $bg-border;
				outline: none;
			}
			ul.dropdown-menu {
				position: absolute;
				width: calc(100% - 10px);
				list-style: none;
				background-color: #fff;
				border: 1px solid $bg-border;
				border-style: none solid;
				opacity: 1.0;
				z-index: 10;

				li {
					padding: 5px 0 5px 5px;
					font-size: 11px;
					border-bottom: 1px solid $bg-border;
				}
				li:first-child {
					border-top: 1px solid $bg-border;
					margin-top: 5px;
				}
				li.active {
					background-color: lighten($text-light, 15%);
				}
			}
			ul.stock-list {
				width: calc(100% - 8px);
				list-style: none;
				background-color: lighten($text-light, 18%);
				overflow: hidden;
				overflow-y: scroll;

				li {
					margin: 5px 0 5px 1px;
					width: calc(100% - 3px);
					font-size: 10px;
					color: #ecf1f5;
					background-color: #a8c3d6;
					border: 1px solid #8b9eac;
					box-shadow: 0 1px 0 #cddbe6 inset;
					border-radius: 1px;
					cursor: pointer;

					div.stock-section {
						display: inline-block;
						padding: 6px 6px;
						height: 22px;
						vertical-align: top;
						border-right: 1px solid #b6ccda;
					}
					div.stock-section:first-child {
						width: 66px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;

						h4.stock-code {
							color: #fff;
						}
						span.stock-full {
							position: relative;
							top: -2px;
						}
					}
					div.stock-section:nth-child(2) {
						padding: 6px 4px;
						width: 31px;
						text-align: center;

						h5.stock-weight {
							position: relative;
							top: 4px;
							font-weight: normal;
							font-size: 11px;
						}
					}
					div.stock-section:last-child {
						float: right;
						width: 20px;
						text-align: center;
						border: none;

						i.stock-delete {
							position: relative;
							top: 5px;
							font-size: 14px;
							color: #ecf1f5;
						}
					}
					div.stock-section:last-child.hover {

						i.stock-delete {
							color: #fff;
						}
					}
				}
			}
			ul.stock-list::-webkit-scrollbar {
				width: 10px;
				background-color: lighten($text-light, 15%);
			}
			ul.stock-list::-webkit-scrollbar-thumb {
				background-color: lighten($text-light, 10%);
				-webkit-border-radius: 0;
			}
		}
		div.stock-correlation {
			position: fixed;
			bottom: 50px;
			margin-top: 60px;
		}
	}

	div.drawer-toggle {
		position: absolute;
		top: 38%;
		left: -1px;

		i {
			padding: 5px;
			color: $bg-light;
			background-color: $bg-accent;
			border-radius: 0 2px 2px 0;
			cursor: pointer;
		}
		i:hover {
			opacity: 0.85;
		}
	}
}
section.drawer.closed {
	width: 30px;
	overflow: hidden;

	div.drawer-contents {
		display: none;
	}
}
section.drawer.in-motion {

	div.drawer-contents {
		display: none;
	}
}



footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	clear: both;
	background-color: #333;
	border-top: 1px solid $bg-border;

	ul {
		text-align: center;
		padding: 2px 5px 8px 5px;

		li {
			display: inline-block;
			font-weight: bold;
			font-size: 11px;
			color: #212121;
			text-shadow: 0 1px 0 #555;

			a {
				color: inherit;
				text-decoration: none;
			}
		}
		li:nth-child(2) {
			margin: 0 70px;
		}
	}
}



nav.tabs {
	width: 100%;
	background-color: $text-bold;

	ul {
		padding-top: 15px;
		padding-left: 20px;
		width: 100%;

		li {
			position: relative;
			display: inline-block;
			margin-right: -5px;
			width: 170px;
			cursor: pointer;
			background-color: $text-bold;
			outline: none;

			a {
				display: block;
				padding: 7px 0 15px 0;
				color: #cbccd1;
				text-decoration: none;

				div {
					padding: 0 16px;
					border: 1px solid lighten($text-bold, 4%);
					border-style: none solid none solid;

					i {
						margin-right: 5px;
						font-size: 14px;
					}
					span {
						font-size: 11px;
					}
					h3 {
						display: inline-block;
						margin-top: -6px;
						font-size: 40px;
					}
					h6 {
						display: inline-block;
						font-size: 12px;
					}
				}
			}
		}
		li.active {
			background-color: #fff;
			border-color: #fff;
			border-radius: 3px 3px 0 0;

			a {
				color: $text-bold;

				div {
					border: none;

					i {
						color: $bg-accent;
					}
					h3 {
						color: $bg-accent;
					}
				}
			}
		}
		li:hover:not(.active) { background-color: #5D6670;}
	}
}



section.stocks-portfolio, section.diversified-portfolio, section.comparison {
	width: 100%;

	div.line-chart {
		margin-top: 0px;
		width: 100%;
		height: 507px;
	}
}



section.correlation {
	text-align: center;

	img {
		display: inline-block;
		padding-top: 50px;
		width: 35%;
	}
	img:first-child {
		margin-right: 80px;
	}
}



section.nothing-to-load {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 494px;
	background-color: #fff;
	z-index: 101;

	i {
		position: absolute;
		top: calc(50% - 35px);
		left: calc(50% - 25px);
		font-size: 45px;
		color: $text-light;
	}
	h3 {
		position: absolute;
		top: calc(50% + 20px);
		left: calc(50% - 47px);
		font-size: 13px;
		color: $text-light;
	}
}



section.loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 494px;
	background-color: #fff;
	z-index: 100;

	h3 {
		position: absolute;
		top: calc(50% + 52px);
		left: calc(50% - 33px);
		font-size: 13px;
		color: $text-light;
	}

	$circle-size: 6px;
	$cube-wh: 50px;
	$circle-distance: $cube-wh / 2 - ($circle-size / 2);
	$animation-length: 2.37s;
	$background-color: $text-light;
	$first-row-color: $text-light;
	$second-row-color: $text-light;
	$third-row-color: $text-light;

	@keyframes move-cube {
	  0%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	  20%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg); }
	  35%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg); }
	  50%   { transform: rotateX(-34.6deg) rotateY(44deg) rotateZ(0deg); }
	  65%   { transform: rotateX(-34.6deg) rotateY(44deg) rotateZ(0deg); }
	  80%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	  100%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	}
	@keyframes reverse-circles {
	  0%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	  20%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	  35%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	  50%   { transform: rotateX(35deg) rotateY(-35deg) rotateZ(0deg); }
	  65%   { transform: rotateX(35deg) rotateY(-35deg) rotateZ(0deg); }
	  80%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	  100%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }

	}
	.loader-object {
	margin-left: (-$cube-wh) / 2;
	margin-top: (-$cube-wh) / 2;
	width: $cube-wh;
	height: $cube-wh;
	left: 50%;
	top: 50%;
	position: absolute;
	transform-style: preserve-3d;
	animation: move-cube infinite $animation-length;
	}

	.plane-1, .plane-2, .plane-3 {
	    width: $cube-wh;
	    height: $cube-wh;
	    position: absolute;
	    transform-style: preserve-3d;
	}
	.plane-3 {
	    transform: translate3d(0px, 0px, (-$cube-wh) / 2);
	}
	.plane-2 {
	    transform: translate3d(0px, 0px, 0px);
	}
	.plane-1 {
	    transform: translate3d(0px, 0px, $cube-wh / 2);
	}
	.plane-1 div, .plane-2 div, .plane-3 div {
	    border-radius: 50%;
	    position: absolute;
	    width: $circle-size;
	    height: $circle-size;
	    animation: reverse-circles infinite $animation-length;
	}
	.plane-1 div {
	    background: $first-row-color;
	}
	.plane-2 div {
	    background: $second-row-color;
	}
	.plane-3 div {
	    background: $third-row-color; 
	}
	.top-left {
	    top: 0;
	    left: 0;
	}

	.top-middle {
	    top:0;
	    left: $circle-distance;
	}
	.top-right {
	    top: 0;
	    right: 0;
	}
	.middle-left {
	    top: $circle-distance;
	    left: 0;
	}
	.middle-middle {
	    top: $circle-distance;
	    left: $circle-distance;
	}
	.middle-right {
	    top: $circle-distance;
	    right: 0;
	}
	.bottom-left {
	    bottom: 0;
	    left: 0;
	}
	.bottom-middle {
	    bottom: 0;
	    left: $circle-distance;
	}
	.bottom-right {
	    bottom: 0;
	    right: 0;
	}
}

