@font-face {
	font-family: Oxford;
	src: url('../fonts/oxford/oxford.ttf');
}
@font-face {
	font-family: Open-Sans;
	src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}



$text-bold:  #505861;
$text-light: #c2c3c8;
$bg-accent:  #e85f3d;
$bg-border:  #d8d9dc;
$bg-light:   #fafafc;



html, body {font-family: "Open-Sans", Arial, Helvetica, sans-serif;}
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
}



header {
	width: 100%;
	padding: 10px 0 5px 0;
	border-bottom: 1px solid $bg-border;
	overflow: auto;

	div.header-inner {
		margin: 0 auto;
		width: calc(100% - 60px);

		h1.title {
			float: right;
			font-family: Oxford;
			font-size: 26px;
			color: $text-bold;
		}
	}
}



section.main {
	float: left;
	width: calc(100% - 330px - 1px);

	main {
		position: relative;
		background-color: #fff;
	}
}



section.drawer {
	float: right;
	width: 330px;
	background-color: $bg-light;
	border-left: 1px solid $bg-border;

	div.drawer-contents {
		width: calc(100% - 20px);
		padding: 10px;

		h4.section-title {
			margin-bottom: 3px;
			font-size: 14px;
			color: $text-bold;
		}
		div.selected-stocks {
			position: relative;

			input {
				padding: 5px 5px;
				width: calc(100% - 12px);
				background-color: #fff;
				border: 1px solid $bg-border;
				outline: none;
			}
			ul.dropdown-menu {
				position: absolute;
				width: calc(100% - 2px);
				list-style: none;
				background-color: #fff;
				border: 1px solid $bg-border;
				border-style: none solid;
				opacity: 1.0;
				z-index: 10;

				li {
					padding: 5px 0 5px 5px;
					font-size: 11px;
					border-bottom: 1px solid $bg-border;
				}
				li:first-child {
					border-top: 1px solid $bg-border;
					margin-top: 5px;
				}
			}
			ul.stock-list {
				width: 100%;
				list-style: none;
				overflow: hidden;
				overflow-y: scroll;

				li {
					margin: 5px 0;
					width: calc(100% - 2px);
					font-size: 10px;
					color: #ecf1f5;
					background-color: #a8c3d6;
					border: 1px solid #8b9eac;
					box-shadow: 0 1px 0 #cddbe6 inset;
					border-radius: 1px;
					cursor: pointer;

					div.stock-section {
						display: inline-block;
						padding: 6px 6px;
						height: 22px;
						vertical-align: top;
						border-right: 1px solid #b6ccda;
					}
					div.stock-section:first-child {
						width: 209px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;

						h4.stock-code {
							color: #fff;
						}
						span.stock-full {
							position: relative;
							top: -2px;
						}
					}
					div.stock-section:nth-child(2) {
						padding: 6px 4px;
						width: 31px;
						text-align: center;

						h5.stock-weight {
							position: relative;
							top: 4px;
							font-weight: normal;
							font-size: 11px;
						}
					}
					div.stock-section:last-child {
						float: right;
						width: 30px;
						text-align: center;
						border: none;

						i.stock-delete {
							position: relative;
							top: 5px;
							font-size: 14px;
							color: #ecf1f5;
						}
					}
					div.stock-section:last-child.hover {

						i.stock-delete {
							color: #fff;
						}
					}
				}
			}
		}
		div.stock-correlation {
			position: fixed;
			bottom: 50px;
			margin-top: 60px;

			img {
				width: 300px;
			}
		}
	}
}



footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	clear: both;
	background-color: $text-bold;
	border-top: 1px solid $bg-border;

	ul {
		text-align: center;
		padding: 2px 5px 8px 5px;

		li {
			display: inline-block;
			font-weight: bold;
			font-size: 11px;
			color: darken($text-bold, 10%);
			text-shadow: 0 1px 0px lighten($text-bold, 10%);

			a {
				color: inherit;
				text-decoration: none;
			}
		}
		li:nth-child(2) {
			margin: 0 60px;
		}
	}
}



nav.tabs {
	width: 100%;
	background-color: $text-bold;

	ul {
		padding-top: 15px;
		padding-left: 20px;
		width: 100%;

		li {
			position: relative;
			display: inline-block;
			margin-right: -5px;
			cursor: pointer;
			background-color: $text-bold;
			outline: none;

			a {
				display: block;
				padding: 7px 0 15px 0;
				color: #cbccd1;
				text-decoration: none;

				div {
					padding: 0 16px;
					border: 1px solid lighten($text-bold, 4%);
					border-style: none solid none solid;

					i {
						margin-right: 5px;
						font-size: 14px;
					}
					span {
						font-size: 11px;
					}
					h3 {
						display: inline-block;
						margin-top: -6px;
						font-size: 40px;
					}
					h6 {
						display: inline-block;
						font-size: 12px;
					}
				}
			}
		}
		li.active {
			background-color: #fff;
			border-color: #fff;
			border-radius: 3px 3px 0 0;

			a {
				color: $text-bold;

				div {
					border: none;

					i {
						color: $bg-accent;
					}
					h3 {
						color: $bg-accent;
					}
				}
			}
		}
		li:hover:not(.active) { background-color: #5D6670;}
	}
}



section.stocks-portfolio, section.diversified-portfolio, section.comparison {
	width: 100%;

	div.line-chart {
		margin-top: 0px;
		width: 100%;
		height: 507px;
	}
}



section.correlation {
	text-align: center;

	img {
		display: inline-block;
		padding-top: 50px;
		width: 35%;
	}
	img:first-child {
		margin-right: 80px;
	}
}



section.loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 494px;
	background-color: #fff;
	z-index: 100;
	$color: $text-light;

	#loader-object {
	  	position: absolute;
	  	top:calc(50% - 20px);
	  	left:calc(50% - 20px);
	  	width: 41px;
	  	height: 40px;
	  	animation: loader 5s cubic-bezier(.8,0,.2,1) infinite;

	  	#top {
	  	  	animation: top 5s linear infinite;
	  	  	border-top: 20px solid $color;
	  	  	border-right: 20px solid transparent;
	  	  	border-left: 20px solid transparent;
	  	  	height: 0px;
	  	  	width: 1px;
	  	  	transform-origin: 50% 100%;
	  	}
	  	#bottom {
	  	  	animation: bottom 5s linear infinite;
	  	  	border-right: 20px solid transparent;
	  	  	border-bottom: 20px solid $color;
	  	  	border-left: 20px solid transparent;
	  	  	height: 0px;
	  	  	width: 1px;
	  	  	transform: scale(0);
	  	  	transform-origin: 50% 100%;
	  	}
	  	#line {
	  	  	animation: line 5s linear infinite;
	  	  	border-left: 1px dotted $color;
	  	  	height: 0px;
	  	  	width: 0px;
	  	  	position: absolute;
	  	  	top: 20px;
	  	  	left: 20px;
	  	}
	}
	@keyframes loader {
	  	90% { transform: rotate(0deg); }
	  	100% { transform: rotate(180deg); }
	}
	@keyframes top {
	  	90% { transform: scale(0); }
	  	100% { transform: scale(0);}
	}
	@keyframes bottom {
	  	10% { transform: scale(0); }
	  	90% { transform: scale(1); }
	  	100% { transform: scale(1); }
	}
	@keyframes line {
	  	10% { height: 20px; }
	  	100% { height: 20px; }
	}
	h3 {
		position: absolute;
		top: calc(50% + 27px);
		left: calc(50% - 30px);
		font-size: 12px;
		color: $color;
	}
}

