<section class="loader">
	<div class="loader-object">
        <div class="plane-1">
            <div class="top-left"></div>
            <div class="top-middle"></div>
            <div class="top-right"></div>
            <div class="middle-left"></div>
            <div class="middle-middle"></div>
            <div class="middle-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-middle"></div>
            <div class="bottom-right"></div>
        </div>
         <div class="plane-2">
            <div class="top-left"></div>
            <div class="top-middle"></div>
            <div class="top-right"></div>
            <div class="middle-left"></div>
            <div class="middle-middle"></div>
            <div class="middle-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-middle"></div>
            <div class="bottom-right"></div>
        </div>
         <div class="plane-3">
            <div class="top-left"></div>
            <div class="top-middle"></div>
            <div class="top-right"></div>
            <div class="middle-left"></div>
            <div class="middle-middle"></div>
            <div class="middle-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-middle"></div>
            <div class="bottom-right"></div>
        </div>
    </div>
    <h3>Computing...</h3>
</section>
<section class="nothing-to-load">
    <i class="fa fa-bed"></i>
    <h3>Waiting on you.</h3>
</section>
<section class="diversified-portfolio">
	<div class="line-chart"></div>
</section>