<section class="drawer">
    <div class="drawer-contents">
        <div class="budget">
            <h4 class="section-title">Budget</h4>
            <input type="text" value="$100,000" />
        </div>
        <div class="your-stocks">
            <h4 class="section-title">Selected Stocks</h4>
            <input type="text" ng-model="selected" typeahead="ticker for ticker in tickers | filter:$viewValue | limitTo:8"
                   typeahead-on-select="addTicker($item); selected=''" class="form-control"
                   placeholder="Add a stock">

            <ul ng-repeat="ticker in selectedTickers" class="stock-list">
                <li>
                    <div class="stock-section">
                        <h4 class="stock-code">{{ticker}}</h4>
                        <span class="stock-full">{{tickerDict[ticker]}}</span>
                    </div>
                    <div class="stock-section">
                        <h5 class="stock-weight">{{100/selectedTickers.length | number:0}}%</h5>
                    </div>
                    <div ng-click="deleteStock($index)" class="stock-section">
                        <i class="stock-delete fa fa-times-circle"></i>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>
