<nav class="tabs">
    <ul>
        <li ng-class="{active: activeTab == 'stocks-portfolio'}">
        	<a href="/#/stocks-portfolio">
        		<div>
        			<i class="fa fa-child"></i>
        			<span>Stocks Portfolio</span><br>
        			<h3>30%</h3>
        			<h6>returns</h6>
        		</div>
        	</a>
        </li>
        <li ng-class="{active: activeTab == 'diversified-portfolio'}">
        	<a href="/#/diversified-portfolio">
        		<div>
	        		<i class="fa fa-university"></i>
	    			<span>Diversified Portfolio</span><br>
	    			<h3>37%</h3>
	    			<h6>returns</h6>
	    		</div>
    		</a>
    	</li>
        <li ng-class="{active: activeTab == 'comparison'}">
        	<a href="/#/comparison">
        		<div>
        			<i class="fa fa-columns"></i>
        			<span>Comparison</span><br>
        			<h3>3.2</h3>
        			<h6>years</h6>
        		</div>
    		</a>
    	</li>
    </ul>
</nav>
