<nav class="tabs">
    <ul>
        <li ng-class="{active: activeTab == 'your_portfolio'}">
        	<a href="/#/your-portfolio">
        		<div>
        			<i class="fa fa-child"></i>
        			<span>Your Portfolio</span><br>
        			<h3>30%</h3>
        			<h6>returns</h6>
        		</div>
        	</a>
        </li>
        <li ng-class="{active: activeTab == 'markos_portfolio'}">
        	<a href="/#/markos-portfolio">
        		<div>
	        		<i class="fa fa-university"></i>
	    			<span>Marko's Portfolio</span><br>
	    			<h3>37%</h3>
	    			<h6>returns</h6>
	    		</div>
    		</a>
    	</li>
        <li ng-class="{active: activeTab == 'overlay'}">
        	<a href="/#/overlay">
        		<div>
        			<i class="fa fa-columns"></i>
        			<span>Overlay</span><br>
        			<h3>3.2</h3>
        			<h6>years</h6>
        		</div>
    		</a>
    	</li>
    </ul>
</nav>